.app__logo {
    position: absolute;
    height: 50px;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;

    @media screen and (min-width: 576px) {
        height: 75px;
    }
}
