.banner {
    min-height: 100vh;
    max-height: 100vh;
    background-position: center;
    background-size: cover;
    position: relative;
}

.banner__content {
    position: absolute;
    top: 50%;
    left: 5%;
}

.banner__movie-title {
    color: white;
    font-size: 1.8rem;
    margin-bottom: 1.5rem;

    @media screen and (min-width: 576px) {
        font-size: 3.6rem;
    }
}

.banner__play-button {
    cursor: pointer;
    outline: none;
    border: none;
    font-size: 1.5rem;
    border-radius: 1.5rem;
    background-color: rgba(255, 255, 255, 1);
    padding: 1rem 1.5rem;
    margin-bottom: 1.5rem;

    &:hover {
        opacity: 0.8;
    }
}

.banner__movie-overview {
    font-size: 1.2rem;
    max-width: 40rem;
    color: white;

    @media screen and (min-width: 576px) {
        font-size: 2rem;
    }
}

.banner__trailer {
    min-height: 100vh;
    min-width: 100%;
    z-index: 1;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
}

.banner__trailer-container {
    position: relative;
    min-height: 100vh;
}

.banner__trailer-close-button {
    position: absolute;
    right: 1%;
    top: 1%;
    color: #f2f2f2;
    font-size: 2.5rem;
    cursor: pointer;
}

.banner__trailer-player {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
